{% extends 'layout.html' %}

<div>
{% block footer %}
	<!-- footer here-->
	<div id="footer">
		<p>
			footer hehe
		</p>
	</div>
{% endblock %}
</div>

<div>
{% block calculator %}
    <form id="calc-form">
		<!-- form to input variables to get the calculation -->
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
    </form>
{% endblock %}
</div>
