{% extends 'layout.html' %}

<div>
{% block footer %}
	<!-- footer here-->
	<div>
		<p>
			footer hehe
		</p>
	</div>
{% endblock %}
</div>

<div>
{% block calculator %}
    <form>
        <!-- form to input variables to get the calculation -->
        <button type="button">
            1
        </button>
        <p>
            first button
        </p>
        <button type="button">
            2
        </button>
        <p>
            second button
        </p>
    </form>
{% endblock %}
</div>
